:root {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 22px;
    margin: 0px;
}

body {
    background-color: var(--backgroundcolor);
}

.dark {
    --backgroundcolor: #444746;
    --backgroundcolor_second: #7c7171;
    --backgroundcolor_third: #695e5e;
    --highlight: #75dddd;
    --warning: #c20114;
    --font_color2: #5900ff;
    --font_color: #a5a5a5;
}

h1 {
    text-align: center;
    font-family: 'Kalam', cursive;
}



#list_container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1100px;
    background-color: var(--backgroundcolor_second);
    border-radius: 6px;
    padding: 2px;
}

.list_items {
    display: grid;
    grid-template-columns: 2fr 1.5fr 5fr 2fr;
    gap: 1ch;
    border: 1.5px solid black;
    border-radius: 6px;
    padding: 3px 6px;
    margin-bottom: 6px;
    height: 23px;
    background-color: var(--backgroundcolor_second);
}

#list_container  > .list_items:first-child {
    font-weight: 700;
}

.list_items div:last-child {
    display: flex;
    justify-content: center;
}

.list_items > div {
    display: inline-flex;
    align-items: center;
    height: 1em;

}

#list_items_wrapper  > div:hover, #inputfield:hover {
    transition: .15s;
    font-size: 23.5px;
}


.list_items div:last-child > i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5px;
    margin-right: 5px;
    text-align: center;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid black;
    transition: .175s ease-in;
}
.list_items div:last-child > i:hover {
    color: var(--highlight);
    text-shadow: 0px 0px 8px var(--highlight);
    background-color: var(--backgroundcolor_third);
}

.list_items div:last-child > i:last-child {
    font-size: 17px;
}



#inputfield {
    position: relative;
    z-index: -1;
    transform: translateY(-36px);
    transition: transform .5s;
    height: 0px;
}

input {
    padding: 0px 2px;
    border: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: calc(1em - 3px);
    width: 100%;
    height: 22px;
    background-color: var(--backgroundcolor_third);
    border-radius: 6px;
    border: 1px solid black;
}
input::placeholder {
    color: black;
}

#btn_container {
    position: relative;
    height: 31px;
}

#btn_container > div{
    border: 1px solid black;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(100% - 32px);
    right: 0%;
    background-color: var(--backgroundcolor_second);
}

#btn_container > div:hover {
    transition: .2s;
    transform: scale(1.1);
    color: var(--highlight);
    text-shadow: 0px 0px 8px var(--highlight);
    background-color: var(--backgroundcolor_third);
}

#cancel_item_btn {
    transition: .5s;
}

#btn_container > div, .list_items div:last-child > i {
cursor: pointer;
}















input:read-only {
    background-color: var(--backgroundcolor_second);
    border: none;
    outline: none;
    font-size: 22px;
    
}